*{
    margin:0;
    padding:0;
}
.wp{
    width:1000px;
    margin:0 auto;
}
.cl{
    clear:both;
}
body{
    font-family:"Arial","MIcrosoft YaHei","SimSun";
    font-size:14px;
}
.header{
    height:58px;
    background:#191D3A;
}
.header .logo a{
    display:block;
    width:170px;
    line-height:58px;
    background:url("../images/logo.png") no-repeat;
    text-indent:-999em;
}
.header .logo{
    float:left;
    width:225px;
    padding:0px 39px 0px 16px;
}
.header .nav{
    float:left;

}
.header .nav ul{
    list-style:none;

}
.header .nav ul li{
    float:left;
    width:100px;
    line-height:58px;
    text-align:center;
    border-left:1px solid #252947;
}
.header .nav ul li.last{
    border-right:1px solid #252947;
}
.header .nav ul li a{
    display:block;
    width:100%;
    line-height:58px;
    text-decoration:none;
    color:#818496;
}
.header .nav ul li.current a,.header .nav ul li a:hover{
    background:#252947;
    color:#E2E4ED;
}
.header .jrwm{
    float:left;
    position:relative;
    top:12px;
    left:48px;
}
.header .jrwm a{
    display:block;
    width:98px;
    line-height:32px;
    text-align:center;
    text-decoration:none;
    color:#AFFFAF;
    background:#26CE50;
    border:1px solid #3ACA7A;
    border-radius:4px;
}
.banner{
    height:463px;
    background:url("../images/banner.jpg") no-repeat center top;
    position:relative;
}
.banner .banner_circles{
    width:120px;
    height:12px;
    position:absolute;
    bottom:20px;
    left:50%;
    margin-left:-60px;
}
.banner .banner_circles ol{
    list-style:none;
}
.banner .banner_circles ol li{
    float:left;
    width:12px;
    height:12px;
    background:url("../images/dian1.png") no-repeat;
    margin-right:15px;
    cursor:pointer;
}
.banner .banner_circles ol li.last{
    margin-right:0;
}
.banner .banner_circles ol li.first{
    background:url("../images/dian2.png") no-repeat;
}
.main{
    background:url("../images/indexmainbg.jpg") no-repeat center bottom;
    padding-top:50px;
    overflow:hidden;
    _zoom:1;
    padding-bottom:53px;
}
.main .product{
    height:229px;
    border-bottom:1px solid #DBE1E7;
    position:relative;
}
.main .product ul{
    list-style:none;
}
.main .product ul li{
    float:left;
    width:218px;
    text-align:center;
    margin-right:43px;
}
.main .product ul li.last{
    width:217px;
    margin-right:0;
}
.main .product ul li img{
    display:block;
    width:100%;
    height:130px;
}
.main .product ul li h3{
    line-height:39px;
    font-size:14px;
}
.main .product ul li .djbf a{
    font-size:12px;
    color:#38B774;
    text-decoration:none;
    padding-right:11px;
    background:url("../images/sanjiaoxing.png") no-repeat right center;
}
.main .product .product_circles{
    width:100px;
    height:12px;
    background:#fff;
    position:absolute;
    bottom:-6px;
    left:50%;
    margin-left:-58px;
    padding-left:16px;
}
.main .product .product_circles ol{
    list-style:none;
}
.main .product .product_circles ol li{
    float:left;
    width:12px;
    height:12px;
    background:url("../images/dian1.png") no-repeat;
    margin-right:13px;
    cursor:pointer;
}
.main .product .product_circles ol li.current{
    background:url("../images/dian2.png") no-repeat;
}
.main .ad{
    padding-top:53px;
}
.main .ad .news{
    float:left;
    width:500px;
    background:url("../images/bynewsbg.jpg") no-repeat;
    padding-top:110px;
    position:relative;
}
.main .ad .news ul{
    list-style:none;
    padding:0px 20px;
}
.main .ad .news ul li{
    line-height:50px;
    border-bottom:1px solid #DBE1E7;
}
.main .ad .news ul li span{
    font-size:12px;
    color:#CAC4CF;
    margin-right:22px;
}
.main .ad .news ul li a{
    text-decoration:none;
    color:#444866;
}
.main .ad .news .more a{
    display:block;
    width:66px;
    height:28px;
    background:url("../images/icons.png") no-repeat -7px -9px;
    position:absolute;
    top:39px;
    left:218px;
    text-indent:-999em;
}
.main .ad .zp{
    float:left;
    width:500px;
    background:url("../images/byhrbg3.jpg") no-repeat;
    position:relative;
    padding-top:110px;
    padding-bottom:27px;
}
.main .ad .zp h3 a{
    position:absolute;
    top:45px;
    left:79px;
    width:119px;
    height:51px;
    background:url("../images/zczp.png") no-repeat;
    text-indent:-999em;
}
.main .ad .zp .more a{
    position:absolute;
    top:40px;
    left:218px;
    width:66px;
    height:28px;
    background:url("../images/icons.png") no-repeat -7px -39px;
    text-indent:-999em;
}
.main .ad .zp dl{
    width:305px;
    padding-left:20px;
}
.main .ad .zp dl dt{
    line-height:21px;
    color:#fff;
    font-weight:bold;
}
.main .ad .zp dl dd{
    border-bottom:1px solid #6FDEA3;
}
.main .ad .zp dl dd a{
    line-height:37px;
    color:#fff;
    text-decoration:none;
}
.footer{
    height:91px;
    background:#191D3A;
    color:#526E68;
    font-size:12px;
}
.footer .left_part{
    float:left;
    padding-left:5px;
    width:245px;
    text-align:left;
}
.footer .left_part a{
    line-height:91px;
    text-decoration:none;
    color:#526E68;
}
.footer .right_part{
    float:left;
    line-height:91px;
    width:746px;
    padding-right:4px;
    text-align:right;
}
.footer .right_part img{
    width:36px;
    position:relative;
    top:21px;
    right:0px;
    margin-left:9px;
}
.footer .return_top a{
    position:fixed;
    bottom:75px;
    right:15px;
    width:66px;
    line-height:27px;
    text-align:center;
    text-decoration:none;
    color:#fff;
    border:1px solid #C7D6E5;
    border-radius:4px;
    background:#C7D6E5 url("../images/topsan.png") no-repeat 8px 11px;
    z-index:9999;

}

